/* insert sign up styling here */


#modal-content {
    width: 350px;
    /* height: min-content; */
    background-color: #B8B8B8;
    border-radius: 25px;
    /* border: 2px solid red; */
    /* color: red; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.sign-up {
    text-align: center;
    font-size: larger;
}

#signup-form {
    background-color: #B8B8B8;
    width: 90%;
    margin-left: 0px;
    margin-right: 0px;
}

.signup-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B8B8B8;
    border: 2px solid black;
    border-radius: 25px;
}



.signup-input {
    margin-bottom: 10px;
    width: 100%;
}