.review-card {
    /* color: blue; */
    font-weight: bold;
    /* border: 2px solid black; */
    width: 45%;
    /* border-radius: 25px; */
    background-color: white;
    margin-bottom: 30px;
    
}

.review-card:hover {
    /* border: 2px solid orange; */
}

.reviewIndexItem {
    width: 97%;
    /* background-color: black; */
    /* margin-bottom: 40px; */
    /* background-color: #F7F5F3; */
}

.date-string-text {
    color: grey;
    font-size: small;
}

.user-firstname {
    font-size: large;
}

.review-review-text {
    font-weight: normal;
}

.user-firstname {
    /* margin-left: 10px; */
}

.review-buttons {
    display: flex;
    justify-content: space-around;
}