.review-card {
    font-weight: bold;
    width: 45%;
    background-color: white;
    margin-bottom: 30px;
    
}



.reviewIndexItem {
    width: 97%;
}

.date-string-text {
    color: grey;
    font-size: small;
}

.user-firstname {
    font-size: large;
}

.review-review-text {
    font-weight: normal;
}



.review-buttons {
    display: flex;
    justify-content: space-around;
}