/* to do add createReview styling */




.create-review-button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    height: 40px;
}

.input-1 {
    background-color: blue;
}

.description-textarea {
    width: 90%;
}

