/* To do: Add Spot Form Styling Here */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: min-content;
}

.country-label {
    /* display: flex;
    justify-content: center; */
}

.country-input {
    display: block;
    width: 100%;
}


.address-label {
    display: block;
}

.address-input {
    display: block;
    width: 100%;
}

.country-address-div {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
}


.city-state-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.city-input, .state-input, .lat-input, .lng-input {
    display: block;
}

.city-input {
    width: 95%
}

#city-input-label {
    width: 75%;
}

.state-input {
    width: 100%
}

.lat-lng-div {
    display: flex;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.description-label {
    /* text-align: center;
    display: flex;
    justify-content: center; */
}

.title-label {
    border-top: 2px solid black;
    margin-top: 20px;
    /* border-bottom: 2px solid black; */
}

.price-label {
    border-top: 2px solid black;
    margin-top: 20px;
}

.urls-label {
    border-top: 2px solid black;
    /* margin-top: 20px; */
}

.image-url {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}


.urls {
    border-bottom: 2px solid black;
    width: 100%;
    /* margin: auto */
    align-items: center;

}

.price-div {
    display: flex;
    width: 100%;
}

.price-input {
    height: 20px;
    width: 100%;
}

.dollar {
    position: relative;
    bottom: 13px;
}

.comma {
    margin-right: 4px;
}

.description-textarea {
    width: 100%;
    height: 100px;
    /* margin-bottom: 20px; */
}

.name-input {
    width: 100%;
    /* margin-bottom: 20px; */
}

.set-base-price {
    margin-bottom: 0px;
}

.comp-pricing {
    margin-top: 5px;
}

.form-create-button {
    margin-top: 15px;
}

.error {
    color: red;
    font-size: small;
    display: block;
    /* align-self: left; */
    /* align-content: left; */
    /* text-align: left; */
}

#price-error-div {
    position: relative;
    bottom: 25px;
}