/* Insert SpotIndexItem styling here */

.current-spotIndex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.spotIndexItem {
    /* height: fit-content; */
    height: 370px;
    width: 270px;
    /* margin-bottom: 0px */
}

.card-info {
    display: block;
    height: 65px;
    /* transition: transform .7s, background-color .7s */
}

.card-row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    /* padding-bottom: 8px; */
}

/* .current-card-div:hover {
    position: relative;
    bottom: 7px;
    left: 7px;
} */


.price {
    display: block;
    margin-top: 8px;
}

img {
    display: block;
    height: 250px;
    border: 2px solid blue;
    width: 270px;
    min-width: 270px;
    /* transition: transform .7s, background-color .7s */
    /* transition: background-color .7s; */
}

.spot-card {
    transition: transform 1.4s, background-color .7s
}

/* .spot-card {

} */
.avg-rating {
    display: inline-block;
    position: relative;
    bottom: 5px;
    max-width: 50%;
}


.current-price {
    display: inline-block;
}

.current-card-row1 {
    display: flex;
    justify-content: space-between;
}

.card-row2 {
    display: flex;
    justify-content: space-between;
}


.update-button {
    /* display: inline; */
    background-color: blue;
    font-weight: bold;
}

/* .delete-button {
    background-color: red;
    font-weight: bold;
    margin-left: 4px;
} */

.button:hover {
    /* border: 2px solid orange; */
    color: white;
}



.button {
    box-shadow: 4px 5px black;
    /* transition: box-shadow, 2s; */
    height: 30px;
}

.current-city-state {
    width: 50%;
    min-width: 50%;
}


.spot-card-div {
    width: fit-content;
    height: 100%;
}



/* enable current card movement on select */
.current-card-div:hover {
    /* position: static; */
}

.div-buttons {
    margin-right: 5px;
}


