/* To do Insert DeleteSpotModal Styling Here */


.delete-modal-div {
    /* color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space; */
    height: 100%;

    border: 2px solid black;
    border-radius: 25px;

}

.confirm-delete-title {
    font-size: larger;
}


.update-button {
    /* display: inline; */
    background-color: blue;
    font-weight: bold;
}

.yes-delete-button {
    background-color: red;
    font-weight: bold;
    margin-left: 4px;
    margin-bottom: 10px;
}

.no-delete-button {
    background-color: blue;
    font-weight: bold;
    /* margin-left: 4px; */
}

.modal-button {
    background-color: red;
    font-weight: bold;
    margin-left: 10px;
}

.yes-delete-button, .no-delete-button {
    width: 90%;
    box-shadow: 4px 5px black;
    height: 30px;
    margin-bottom: 15px;

}


.button {
    box-shadow: 4px 5px black;
    /* transition: box-shadow, 2s; */
    height: 30px;
}

.button:hover {
    /* border: 2px solid orange; */
    color: white;
}

.button:active {
    position: relative;
    left: 4px;
    top: 5px;
    box-shadow: none;
}

#modal-content {
    /* border: none; */
    height: fit-content;
}

.confirm-delete-text {
    padding-left: 20px;
    padding-right: 20px;
}

.grey-keep {
    background-color: grey;
}

#demo-button {
    background-color: blue;
    width: fit-content;
}