/* Insert SpotIndexItem styling here */

.spot-card-div {
    /* transition: transform 1.4s, background-color .7s; bottom: 1s; left: 1s; */

    /* transition: background-color .7s; bottom: 1s; left: 1s; */

    /* transition: \ bottom: 1s; left: 1s; */

    /* transition: background-color .7s; transform: .7s; */
    background-color: #B8B8B8;
    border: 4px solid blue;
    height: fit-content;
    border-radius: 25px;
}

.spot-card-div:hover {
    /* transform: rotate(1turn); */
    /* background-color: green; */
    /* transform: translate(7px, 7px); */
    /* background-color: none; */
    position: relative;
    bottom: 7px;
    left: 7px;
    box-shadow: -7px 7px 3px black;
    border-color: orange
}

.spot-card-div:active {
    position: static;
    box-shadow: none;
}

.spotIndexItem {
    color: black;
    /* background-color: red; */
    /* border: 2px solid black; */
    box-sizing: border-box;
    /* width: 270px; */
    min-width: 270px;
    height: 315px;
    min-height: 315px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 55px;

    

}



.card-info{
    display: block;
    height: 65px;
    /* transition: transform .7s, background-color .7s */
}

.card-row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    /* padding-bottom: 8px; */
}

.price {
    display: block;
    margin-top: 8px;
}

img {
    display: block;
    height: 250px;
    width: 270px;
    min-width: 270px;
    /* border: 2px solid blue; */
    /* transition: transform .7s, background-color .7s */
    /* transition: background-color .7s; */
}




/* .spot-card {

} */
.avg-rating {
    display: inline-block;
    position: relative;
    bottom: 5px;
    max-width: 50%;
}

.div-buttons {
    display: flex;
    align-items: center;
}

.spot-name {
    color: black;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 4px;
}

/* 
img :hover {
    transform: rotate(360deg);
} */


/* .img :hover {
    transform: rotate(.5turn);
    background-color: blueviolet;
}

.card-info :hover {
    transform: rotate(.turn);
    background-color: blueviolet;
} */

.spot-name {
    margin-left: 10px;
}

.card-info {
    padding-left: 5px;
    padding-right: 5px;
}

#prev-img {
    border-left: none;
    border-right: none;
}