/* TODO Add site wide styles */


* {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */

    font-family: Arial, Helvetica, sans-serif;
    /* Is closer to AirBnB but for now breaks all the icons */
    /* font-family:-apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important; */
}
div {
    /* font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important; */
}

textarea {
    /* font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important; */
}

i {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: #F7F5F3;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
}

img {
    object-fit: cover;
}


.white-button {
    color: white;
}

.white-button:hover {
    background-color: orange;
    /* color: blue; */
    /* border: 2px solid orange; */
}