.landing-bottom {
    color: white;
    display: flex;
    justify-content: center;
    background-color: #1E1919;
}

.about-div {
    display: flex;
    padding-bottom: 30px;
    
}

.landing-h1 {
    font-weight: normal;
}




.about-bookings {
    margin-left: 50px;
    margin-right: 50px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
}