.landing {
    color: white;
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.landing-top, .landing-bottom {
    text-align: center;
}

.landing-p-top {
    font-size: 42px;
}

.landing-p-bottom {
    font-size: 18px;
}