/* To Do: Add site wide styling */

/* body {
    background-color: aqua;
} */



#modal-content {
    width: 350px;
    height: 250px;
    border-radius: 25px;
    /* border: 2px solid red; */
    /* color: red; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}



.login-form {
    color: blue;
    background-color: grey;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    /* height: fit-content; */
    /* inherits form css from create a spot form */
    justify-content: space-between;

    padding-top: 10px;
    padding-bottom: 25px
}

.login-p {
    /* align-items: center; */
    display: flex;
    justify-content: center;
    color: black;
    font-size: larger;


    font-weight: bolder;
    margin-top: 0px;


    
    /* color: blue; */
}

.modal-login-button {
    width: 90%;
};

.modal-login-demo-button {
    /* background-color: blue;
    color: red; */
}

#demo-button {
    /* color: red; */
    background-color: blue;
    width: fit-content;

}